// Specific CSS for your home-page
.wagon-cards-with-map {
  display: flex;
  align-items: flex-start;
}

.wagon-card-container {
  flex-grow: 1;
  padding: 0 1em;
  h1 {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
    margin-top: .5em;
  }
}

.wagon-cards-with-map .wagon-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

#city-mapbox {
  flex: 0 0 40%;
  height: 100vh;
  position: sticky;
  top: 0;
  form {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 1em;
  }
}


.mapboxgl-marker.active {
  svg > g g:nth-child(2) path { fill: $warning }
}

.wagon-card.active {
  border: 4px solid white;
}
