<div class="wagon-cards-with-map">
  <!-- wagon-cards -->
  <div class="wagon-wagon-cards">
    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
      Rio
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/berlin)">
      Berlin
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/shanghai)">
      Shanghai
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/barcelona)">
      Barcelona
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/paris)">
      Paris
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/london)">
      London
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/melbourne)">
      Melbourne
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/marseille)">
      Marseille
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/buenos-aires)">
      Buenos Aires
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/bali)">
      Bali
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/tel-aviv)">
      Tel Aviv
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/kyoto)">
      Kyoto
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/copenhagen)">
      Copenhagen
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/lisbon)">
      Lisbon
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/montreal)">
      Montreal
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/nantes)">
      Nantes
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/milan)">
      Milan
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/tokyo)">
      Tokyo
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/amsterdam)">
      Amsterdam
    </div>

    <div class="wagon-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/lyon)">
      Lyon
    </div>
  </div>

  <!-- Change the token below (https://www.mapbox.com/account/access-tokens/) -->
  <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/18.7072,38.9963,1.05,0/600x800?access_token=pk.eyJ1IjoicHl2ZXNsZyIsImEiOiJja2ZjN3oxOTMxZGc5MnNwcGN2bHh6enE5In0.O0eIhUKWBeuck-kE0PvdrA'>
</div>
